
.content-main-title{
    font-size: 30px;
    font-weight: bold;
    margin: 20px; 
    text-align: left;
  }
  
  #content-wrapper{
    margin: 0px auto;
    height: 550px;
    margin-left: 10px;
  }
  
  #content-wrapper .main-content-wrapper {
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
  }
  
  #content-wrapper .list-wrapper {
    flex: 0 1 calc(33.33% - 20px); /*각 포트폴리오 칸의 너비 설정 */
    margin-right: 10px; /* 각 포트폴리오 칸 사이의 간격 설정 */
  }
  
  #content-wrapper .detail {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  #content-wrapper .title {
    font-weight: bold;
  }
  
  #content-wrapper .image {
    width: 100%;
    height: 200px;
    background-color: #ccc;
    border-radius: 5px 5px 0 0;
  }

  .bookmark-icon {
    width: 30px; /* 원하는 너비로 조절 */
    height: 30px; /* 원하는 높이로 조절 */
}

.icon{
  display: flex;
  justify-content: space-between;
}
  
  /* 반응형 스타일 */
  @media only screen and (max-width: 768px) {
    #content-wrapper .main-content-wrapper {
      display: inline-block;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
    }
  
    #content-wrapper .list-wrapper {
      /* flex: 0 1 calc(50% - 10px); 화면이 작아질 때 각 포트폴리오 칸의 너비 설정 */
      border: 1px solid #ccc;
      padding: 20px;
      margin-bottom: 20px;
    }
  }
  
  

